# pivot 탐색

In [1]:
# 임포트 판다스

import pandas as pd
from pandas import DataFrame, Series

## 엑셀파일 불러오기

In [2]:
df = pd.read_excel('Documents2.xlsx')

In [3]:
df.head(3)

,번호,연구분야대분류,연구분야중분류,기준년도,사업부처,연구개발단계,사업화형태,연구수행주체,정부투자연구비합계,지원과제수,사업화성과건수합계,고용창출인원합계,당해년도매출액합계
0,1,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,기타,1.010000e+08,1,0,0.0,0.0
1,2,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,대학,4.761042e+09,27,0,0.0,0.0
2,3,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,출연연구소,6.961235e+10,30,0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56925 entries, 0 to 56924
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   번호         56925 non-null  int64
 1   연구분야대분류    56489 non-null  object
 2   연구분야중분류    56925 non-null  object
 3   기준년도       56925 non-null  int64
 4   사업부처       56925 non-null  object
 5   연구개발단계     56925 non-null  object
 6   사업화형태      10987 non-null  object
 7   연구수행주체     56925 non-null  object
 8   정부투자연구비합계  56925 non-null  float64
 9   지원과제수      56925 non-null  int64
 10  사업화성과건수합계  56925 non-null  int64
 11  고용창출인원합계   56925 non-null  float64
 12  당해년도매출액합계  56925 non-null  float64
dtypes: float64(3), int64(4), object(6)
memory usage: 5.6+ MB

In [5]:
df.head(1)

,번호,연구분야대분류,연구분야중분류,기준년도,사업부처,연구개발단계,사업화형태,연구수행주체,정부투자연구비합계,지원과제수,사업화성과건수합계,고용창출인원합계,당해년도매출액합계
0,1,EA,EA01,2013,과학기술정보통신부,1기초연구,NaN,기타,101000000.0,1,0,0.0,0.0

## Step 1 : Groupby()하여 계산 진행

In [30]:
df2 = df.groupby(['연구분야대분류','사업화형태']).mean()[['지원과제수']]
df2

                                    지원과제수
연구분야대분류 사업화형태
EA      기술보유자의 직접사업화_기존업체-공정개선   8.622490
        기술보유자의 직접사업화_기존업체-상품화   13.488117
        기술보유자의 직접사업화_창업          3.398844
        기술이전_기존업체-공정개선           1.786517
        기술이전_기존업체-상품화            2.689873
...                                   ...
SI      기술이전_기존업체-상품화            1.000000
ZZ      기술보유자의 직접사업화_창업          2.000000
        기술이전_기존업체-공정개선          13.000000
        기술이전_기존업체-상품화           29.000000
        기술이전_창업                  8.500000

[162 rows x 1 columns]

## (임시변통)  컬럼을 새롭게 생성, 멀티인덱스에 해당하는 값

In [31]:
df2.index.get_level_values(0)

Index(['EA', 'EA', 'EA', 'EA', 'EA', 'EA', 'EB', 'EB', 'EB', 'EB',
       ...
       'SH', 'SH', 'SI', 'SI', 'SI', 'SI', 'ZZ', 'ZZ', 'ZZ', 'ZZ'],
      dtype='object', name='연구분야대분류', length=162)

In [36]:
df2['연구분야대분류'] = df2.index.get_level_values(0)

In [37]:
df2['사업화형태'] = df2.index.get_level_values(1)

In [38]:
df2

                                    지원과제수 연구분야대분류                   사업화형태
연구분야대분류 사업화형태
EA      기술보유자의 직접사업화_기존업체-공정개선   8.622490      EA  기술보유자의 직접사업화_기존업체-공정개선
        기술보유자의 직접사업화_기존업체-상품화   13.488117      EA   기술보유자의 직접사업화_기존업체-상품화
        기술보유자의 직접사업화_창업          3.398844      EA         기술보유자의 직접사업화_창업
        기술이전_기존업체-공정개선           1.786517      EA          기술이전_기존업체-공정개선
        기술이전_기존업체-상품화            2.689873      EA           기술이전_기존업체-상품화
...                                   ...     ...                     ...
SI      기술이전_기존업체-상품화            1.000000      SI           기술이전_기존업체-상품화
ZZ      기술보유자의 직접사업화_창업          2.000000      ZZ         기술보유자의 직접사업화_창업
        기술이전_기존업체-공정개선          13.000000      ZZ          기술이전_기존업체-공정개선
        기술이전_기존업체-상품화           29.000000      ZZ           기술이전_기존업체-상품화
        기술이전_창업                  8.500000      ZZ                 기술이전_창업

[162 rows x 3 columns]

## pivot

In [39]:
df2.pivot(index='연구분야대분류', columns='사업화형태', values='지원과제수')

사업화형태,기술보유자의 직접사업화_기존업체-공정개선,기술보유자의 직접사업화_기존업체-상품화,기술보유자의 직접사업화_창업,기술이전_기존업체-공정개선,기술이전_기존업체-상품화,기술이전_창업
연구분야대분류,,,,,,
EA,8.622490,13.488117,3.398844,1.786517,2.689873,1.400000
EB,4.531250,10.684211,3.444444,1.400000,3.539683,1.357143
EC,5.537037,19.060377,3.507937,1.555556,1.809524,1.142857
ED,5.520619,12.312757,3.577778,2.268293,2.338462,1.418605
EE,4.072626,10.473595,4.320988,2.202532,2.559322,2.764706
EF,4.619048,8.316017,2.444444,1.973684,2.486111,1.823529
EG,1.250000,1.571429,1.200000,1.000000,1.714286,1.250000
EH,3.012500,17.213400,2.884058,2.113636,2.651515,1.166667
EI,3.366197,5.210762,1.792453,1.932203,2.135593,1.588235
HA,NaN,NaN,NaN,2.000000,NaN,NaN
HC,3.000000,2.000000,1.333333,NaN,2.000000,NaN
HD,NaN,2.000000,1.000000,NaN,NaN,NaN
HE,4.191176,10.180095,3.176471,4.076923,2.363636,2.500000
LA,5.966102,22.533019,2.617021,3.021505,4.666667,1.388889
LB,3.573529,15.619932,2.115702,14.866868,3.455587,2.276596
LC,3.228070,9.112094,2.490196,1.581395,2.227723,1.218750
NB,1.875000,5.961538,1.272727,2.666667,2.583333,NaN
NC,3.650794,9.382166,2.025000,3.500000,3.822222,1.100000
ND,7.750000,4.086957,1.000000,2.428571,1.222222,1.250000
OA,2.000000,2.333333,1.333333,1.000000,1.500000,1.000000
OB,1.000000,2.800000,2.000000,6.500000,1.666667,1.000000
OC,3.666667,14.444444,10.500000,1.000000,3.666667,1.500000
SA,NaN,1.500000,1.000000,1.000000,NaN,NaN
SB,1.000000,1.857143,1.000000,NaN,3.000000,NaN
SC,3.400000,8.000000,2.900000,3.642857,4.500000,1.750000
SD,1.200000,1.500000,1.000000,1.833333,NaN,1.000000
SE,5.700000,4.365854,1.533333,1.666667,1.000000,1.000000
SF,1.250000,5.117647,1.000000,2.105263,8.600000,1.000000
SH,1.166667,2.260870,2.100000,NaN,2.500000,NaN
SI,2.166667,2.371429,1.437500,NaN,1.000000,NaN
ZZ,NaN,NaN,2.000000,13.000000,29.000000,8.500000